<div class="panel-body">

    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo41" name="USB">
            <label for="squaredTwo41"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary collapsed" type="button" data-toggle="collapse"
                 data-target="#collapse41" aria-expanded="false" aria-controls="collapse41"
                 style="border: 0px solid red !important;">
                USB
            </div>
            <div class="collapse" id="collapse41">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo42" name="Przedłużenie">
            <label for="squaredTwo42"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse42"
                 aria-expanded="false" aria-controls="collapse42" style="border: 0px solid red !important;">
                Przedłużenie
            </div>
            <div class="collapse" id="collapse42">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo43" name="WEBASTO_Mokre_Part_No">
            <label for="squaredTwo43"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse43"
                 aria-expanded="false" aria-controls="collapse43" style="border: 0px solid red !important;">
                WEBASTO Mokre Part No
            </div>
            <div class="collapse" id="collapse43">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo44" name="Rodzaj_bagażnika">
            <label for="squaredTwo44"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse44"
                 aria-expanded="false" aria-controls="collapse44" style="border: 0px solid red !important;">
                Rodzaj bagażnika
            </div>
            <div class="collapse" id="collapse44">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo45" name="Szyby_tylnie">
            <label for="squaredTwo45"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse45"
                 aria-expanded="false" aria-controls="collapse45" style="border: 0px solid red !important;">
                Szyby tylnie
            </div>
            <div class="collapse" id="collapse45">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
         <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo46" name="Jakie_półki">
            <label for="squaredTwo46"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse46"
                 aria-expanded="false" aria-controls="collapse46" style="border: 0px solid red !important;">
                Jakie półki
            </div>
            <div class="collapse" id="collapse46">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>producent BELGIA</li>
                        <li>producent ELLAMP</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo47" name="DVBT">
            <label for="squaredTwo47"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse47"
                 aria-expanded="false" aria-controls="collapse47" style="border: 0px solid red !important;">
                DVBT
            </div>
            <div class="collapse" id="collapse47">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo48" name="Lodówka_podschowkowa_TM">
            <label for="squaredTwo48"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse48"
                 aria-expanded="false" aria-controls="collapse48" style="border: 0px solid red !important;">
                Lodówka podschowkowa TM
            </div>
            <div class="collapse" id="collapse48">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
                <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo49" name="Nietypowy_zderzak_przedni">
            <label for="squaredTwo49"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse49"
                 aria-expanded="false" aria-controls="collapse49" style="border: 0px solid red !important;">
                Nietypowy zderzak przedni
            </div>
            <div class="collapse" id="collapse49">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>producent ADEX</li>
                        <li>producent MAXTON</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo50" name="DMC">
            <label for="squaredTwo50"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse50"
                 aria-expanded="false" aria-controls="collapse50" style="border: 0px solid red !important;">
                DMC
            </div>
            <div class="collapse" id="collapse50">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo51" name="WEBASTO_Suche_Part_No">
            <label for="squaredTwo51"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse51"
                 aria-expanded="false" aria-controls="collapse51" style="border: 0px solid red !important;">
                WEBASTO Suche Part No
            </div>
            <div class="collapse" id="collapse51">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo52" name="Drzwi_AutoCool">
            <label for="squaredTwo52"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse52"
                 aria-expanded="false" aria-controls="collapse52" style="border: 0px solid red !important;">
                Drzwi AutoCool
            </div>
            <div class="collapse" id="collapse52">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo53" name="Ściana_separująca">
            <label for="squaredTwo53"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse53"
                 aria-expanded="false" aria-controls="collapse53" style="border: 0px solid red !important;">
                Ściana separująca
            </div>
            <div class="collapse" id="collapse53">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo54" name="Winda_załadunkowa">
            <label for="squaredTwo54"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse54"
                 aria-expanded="false" aria-controls="collapse54" style="border: 0px solid red !important;">
                Winda załadunkowa
            </div>
            <div class="collapse" id="collapse54">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
 <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo55" name="WiFi">
            <label for="squaredTwo55"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse55"
                 aria-expanded="false" aria-controls="collapse55" style="border: 0px solid red !important;">
                WiFi
            </div>
            <div class="collapse" id="collapse55">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo56" name="Lodówka">
            <label for="squaredTwo56"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse56"
                 aria-expanded="false" aria-controls="collapse56" style="border: 0px solid red !important;">
                Lodówka
            </div>
            <div class="collapse" id="collapse56">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo57" name="przyciski_STOP">
            <label for="squaredTwo57"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse57"
                 aria-expanded="false" aria-controls="collapse57" style="border: 0px solid red !important;">
                Przyciski "STOP"
            </div>
            <div class="collapse" id="collapse57">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo58" name="Nietypowy_zderzak_tylni">
            <label for="squaredTwo58"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse58"
                 aria-expanded="false" aria-controls="collapse58" style="border: 0px solid red !important;">
                Nietypowy zderzak tylni
            </div>
            <div class="collapse" id="collapse58">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>producent ADEX</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo59" name="Progi_boczne_spojlery">
            <label for="squaredTwo59"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse59"
                 aria-expanded="false" aria-controls="collapse59" style="border: 0px solid red !important;">
                Progi boczne spojlery
            </div>
            <div class="collapse" id="collapse59">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>producent ADEX (gruby) + zderzak tył</li>
                        <li>producent MAXTON (delikatny)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


