
<div class="panel-body">





                        <div class="container">
                            <div class="column pierwszakol border-right col-sm-4 zaznacz">
                                <div class="wheelbase-wrapper kategoria pierwszydodrugiego podswietlenie" id="b1" data-wheelbase="144" data-vivaldi-spatnav-clickable="1">
                                    <h3>Basic</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                                                    <!--Zdjęcie-->

                                            <img src="https://i.imgur.com/4mIdyJ4.jpg" class="kat10">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Długość całkowita<span></span>
                                        </li>
                                    </ul>

                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn pierwszydodrugiego" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Basic</button>



                                </div>
                            </div>

                            <div class="column border-right col-sm-4 zaznacz">
                                <div class="wheelbase-wrapper kategoria pierwszydodrugiego2" id="b2" data-wheelbase="170" data-vivaldi-spatnav-clickable="1">
                                    <h3>Tourist</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                                                    <!--Zdjęcie-->

                                            <img src="https://i.imgur.com/VSNdAiQ.jpg" class="kat10">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Długość całkowita:<span></span>
                                        </li>
                                    </ul>

                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn pierwszydodrugiego2" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Tourist</button>



                                </div>
                            </div>

                            <div class="column col-sm-4">
                                <div class="wheelbase-wrapper kategoria pierwszydodrugiego3" id="b3" data-wheelbase="170E" data-vivaldi-spatnav-clickable="1">
                                    <h3>Exclusive</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                                                    <!--Zdjęcie-->

                                            <img src="https://i.imgur.com/3HAxnT3.jpg" class="kat10">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Długość całkowita:<span></span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn pierwszydodrugiego3" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Exclusive</button>


                                </div>
                            </div>
                        </div>
                        <!-- container -->






 <div id="kategoria0">
     <input type="radio" name="kategoria" id="id_kategoria_1" value="Basic" class="form-horizontal" checked="checked">
     <input type="radio" name="kategoria" id="id_kategoria_2" value="Tourist" class="form-horizontal">
     <input type="radio" name="kategoria" id="id_kategoria_3" value="Exclusive" class="form-horizontal">
</div>








                    </div>