<div class="column col-sm-6">
<h4>Wypełnij Formularz</h4>
<fieldset>
    <legend>Dane personalne</legend>
    <div id="div_id_imię" class="form-group">
        <div class="controls "><input type="text" name="imię" maxlength="50" id="id_imię"
                                      class="formpad textinput textInput form-control" required placeholder="imię"/>
        </div>
    </div>
    <div id="div_id_nazwisko" class="form-group">
        <div class="controls "><input type="text" name="nazwisko" maxlength="50" id="id_nazwisko"
                                      class="formpad textinput textInput form-control" required placeholder="nazwisko"/>
        </div>
    </div>
    <br>
    <div id="div_id_ulica" class="form-group">
        <div class="controls "><input type="text" name="ulica" maxlength="250" id="id_ulica"
                                      class="formpad textinput textInput form-control" placeholder="ulica"/></div>
    </div>
    <div id="div_id_miasto" class="form-group">
        <div class="controls "><input type="text" name="miasto" maxlength="100" id="id_miasto"
                                      class="formpad textinput textInput form-control" placeholder="miasto"/></div>
    </div>
    <div id="div_id_kod_pocztowy" class="form-group">
        <div class="controls "><input type="text" name="kod_pocztowy" maxlength="20" id="id_kod_pocztowy"
                                      class="formpad textinput textInput form-control" placeholder="kod pocztowy"/>
        </div>
    </div>
    <br>
    <div id="div_id_wiadomość" class="form-group">
        <div class="controls "> <textarea name="wiadomość" maxlength="400" cols="40"
                                          class="formpad textarea form-control" id="id_wiadomość" rows="3"
                                          placeholder="wiadomość">
</textarea></div>
    </div>
</fieldset>
<fieldset>
    <legend>Dane kontaktowe</legend>
    <div id="div_id_NIP" class="form-group">
        <div class="controls "><input type="text" name="NIP" maxlength="18" id="id_NIP"
                                      class="formpad textinput textInput form-control" required placeholder="NIP/VAT"/>
        </div>
    </div>
    <div id="contact_info">
        <div id="div_id_telefon" class="form-group">
            <div class="controls ">
                <div class="input-group"><span class="input-group-addon"><span
                        class="glyphicon glyphicon-earphone"> </span></span> <input type="text" name="telefon"
                                                                                    maxlength="15" id="id_telefon"
                                                                                    class="inputblock-level textinput textInput form-control"
                                                                                    required
                                                                                    placeholder="+48700600500"/></div>
            </div>
        </div>
        <div id="div_id_email" class="form-group">
            <div class="controls ">
                <div class="input-group"><span class="input-group-addon">@</span> <input type="email" name="email"
                                                                                         maxlength="254" id="id_email"
                                                                                         class="input-block-level emailinput form-control"
                                                                                         required
                                                                                         placeholder="contact@example.com"/>
                </div>
            </div>
        </div>
    </div>
</fieldset> <p class="help-block">Załacznik zostanie automatycznie wysłany na wskazany adres email i można go
    wydrukować.</p>

</div>

   <div class="column col-sm-6">

       <h1>BUS</h1>
       </div>
