<div class="panel-body">

    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo21" name="Dodatkowa_bateria">
            <label for="squaredTwo21"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary collapsed" type="button" data-toggle="collapse"
                 data-target="#collapse21" aria-expanded="false" aria-controls="collapse21"
                 style="border: 0px solid red !important;">
                Dodatkowa bateria
            </div>
            <div class="collapse" id="collapse21">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Akumulatr dodatkowe</li>
                        <li>2. Przekaźnik oddzielający przy dodatkowym Aku.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo23" name="Spryskiwacze_reflektorów">
            <label for="squaredTwo23"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse23"
                 aria-expanded="false" aria-controls="collapse23" style="border: 0px solid red !important;">
                Spryskiwacze reflektorów
            </div>
            <div class="collapse" id="collapse23">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Dwie dysze wysokociśnieniowe umieszczone są poniżej każdej jednostki oświetleniowej. Gdy przy włączonych światłach uruchomiony zostanie układ spryskiwania szyb, automatycznie wysuwają się dwie wysokociśnieniowe dysze i spryskują przednie reflektory pojazdu. Dysze spryskiwaczy reflektorów zasilane są z centralnego zbiornika płynu do spryskiwaczy w komorze silnika.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo25" name="Ogrzewana_szyba_przednia">
            <label for="squaredTwo25"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse25"
                 aria-expanded="false" aria-controls="collapse25" style="border: 0px solid red !important;">
                Ogrzewana szyba przednia
            </div>
            <div class="collapse" id="collapse25">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/ot.jpg" alt=""></li>
                        <li>Montaż szyby przedniej ze szkła wielowarstwowego z ogrzewaniem. System ogrzewania szyby składa się z cienkich, przebiegających pionowo faliście drucików grzejnych i jest załączany za pomocą przełącznika z lampką kontrolną. Praca ogrzewania możliwa jest tylko przy uruchomionym silniku.
Ogrzewanie włącza się przełącznikiem kolebkowym i wyłącza się automatycznie po ok. 5 minutach lub może zostać wyłączone manualnie przełącznikiem kolebkowym.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo27" name="Pokrywa_schowka_na_środku_deski_rozdzielczej">
            <label for="squaredTwo27"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse27"
                 aria-expanded="false" aria-controls="collapse27" style="border: 0px solid red !important;">
                Pokrywa schowka na środku deski rozdzielczej
            </div>
            <div class="collapse" id="collapse27">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/psch.jpg" alt=""></li>
                        <li>Schowek pośrodku kokpitu wyposażany jest w pokrywę. Pociągnięcie uchwytu na pokrywie powoduje otwarcie schowka. Pokrywa utrzymywana jest w pozycji krańcowej (otwartej).W celu zamknięcia należy docisnąć pokrywę w dół, aż ulegnie zatrzaśnięciu.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo29" name="Klimatyzacja_o_zwiększonej_wydajności">
            <label for="squaredTwo29"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse29"
                 aria-expanded="false" aria-controls="collapse29" style="border: 0px solid red !important;">
                Klimatyzacja o zwiększonej wydajności
            </div>
            <div class="collapse" id="collapse29">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/klim.jpg" alt=""></li>
                        <li>W standardowym układzie ogrzewania i wentylacji integruje się układ klimatyzacji o maksymalnej mocy chłodzenia ok. 7 kW. Automatyczny układ regulacji temperatury na stałym poziomie utrzymuje temperaturę ustawioną pokrętłem regulacji temperatury. Czujnik steruje intensywnością chłodzenia. Po włączeniu klimatyzacji automatycznie włącza się stopień 1 dmuchawy. Stopnie 2, 3 i 4 można wybierać dowolnie. Przy wysokiej temperaturze zewnętrznej i wysokiej wilgotności powietrza stopień 4 wraz zamkniętym obiegiem powietrza szybko schładzają wnętrze. Układ klimatyzacji można włączać i wyłączać przełącznikiem na desce rozdzielczej. Zakres dostawy obejmuje filtr zespolony, który odfiltrowuje cząstki stałe, zawiesiny i drobny pył. W normalnych warunkach eksploatacji wkład filtra należy wymieniać raz w roku lub co 30 000 km.</li>
                    </ul>
                </div>
            </div>
        </div>
         <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo31" name="Sygnalizator_cofania">
            <label for="squaredTwo31"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse31"
                 aria-expanded="false" aria-controls="collapse31" style="border: 0px solid red !important;">
                Sygnalizator cofania
            </div>
            <div class="collapse" id="collapse31">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Po włączeniu biegu wstecznego przy włączonym zapłonie rozbrzmiewa sygnał akustyczny. Dwukrotne włączenie biegu wstecznego w ciągu 4-5 sekund powoduje uaktywnienie sygnalizatora ostrzegawczego jazdy wstecz z mniejszą głośnością. Ten sposób postępowania musi być powtarzany za każdym razem w przypadku, gdy ma być uaktywniona mniejsza głośność sygnału ostrzegawczego. Sygnalizatora ostrzegawczego jazdy wstecz nie można wyłączyć. Po wyłączeniu zapłonu uaktywnia się znów ustawienie domyślne. Sygnalizator ostrzegawczy jazdy wstecz montowany jest generalnie po wewnętrznej stronie poprzeczki tylnej.</li>
                        <li>Do teczki z dokumentacją pojazdu dodawana jest naklejka informacyjna z tekstem W przypadku cofania włączyć bieg wsteczny dwukrotnie w krótkim odstępie czasu, aby uaktywnić cichszy tryb nocny sygnalizatora ostrzegawczego.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo33" name="Alarm_antywłamaniowy_EDW">
            <label for="squaredTwo33"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse33"
                 aria-expanded="false" aria-controls="collapse33" style="border: 0px solid red !important;">
                Alarm antywłamaniowy EDW
            </div>
            <div class="collapse" id="collapse33">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/aae.jpg" alt=""></li>
                        <li>Uaktywniany automatycznie wraz z uruchomieniem (zaryglowaniem) centralnego zamka. Alarm wyzwalany jest w momencie, gdy następuje:</li>
<li>otwarcie którychś drzwi,</li>
<li>odryglowanie którychś drzwi od wewnątrz,</li>
<li>otwarcie maski silnika,</li>
<li>podniesienie przodu lub tyłu pojazdu,</li>
<li>ruch we wnętrzu samochodu,</li>
<li>odryglowanie centralnego zamka za pomocą kluczyka na drzwiach innych niż drzwi kierowcy.</li>
<li>Pakiet podstawowy ochrony antykradzieżowej jest gotowy do pracy po ok. 30 sekundach od momentu zaryglowania pojazdu za pomocą pilota radiowego lub drzwi kierowcy za pomocą kluczyka. Jest to sygnalizowane trzykrotnym mignięciem kierunkowskazów oraz miganiem lampki kontrolnej w przełączniku. Jeżeli w zaryglowanym pojeździe przebywają jakieś osoby lub zwierzęta, należy wyłączyć monitoring wnętrza, aby uniknąć błędnego alarmu. W ramach zabezpieczenia przed odholowaniem w sterownik alarmu antykradzieżowego wbudowano czujnik przechyłu. System alarmowy wyłącza się, gdy nastąpi odryglowanie zamka drzwi kierowcy z zewnątrz lub centralnego zamka pojazdu pilotem radiowym.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo35" name="Tempomat">
            <label for="squaredTwo35"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse35"
                 aria-expanded="false" aria-controls="collapse35" style="border: 0px solid red !important;">
                Tempomat
            </div>
            <div class="collapse" id="collapse35">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/tm.jpg" alt=""></li>
                        <li>Za pomocą dźwigni obsługowej na kolumnie kierownicy można ustawić każdą prędkość powyżej 30 km/h, o ile pozwala na to moc silnika. Gdy zadana prędkość zostanie ustawiona i zapisana, będzie ona utrzymywana przez tempomat na stałym poziomie, w ramach fizycznych możliwości.</li>
<li>Funkcje dźwigni obsługowej:</li>
<li>W górę, zapamiętanie aktualnej bądź wyższej prędkości. W dół, zapamiętanie aktualnej bądź niższej prędkości. Do tyłu, aktywacja ostatniej zapamiętanej prędkości. Do przodu, wyłączenie funkcji tempomatu. Funkcja tempomatu wyłączana jest także przez wciśnięcie pedału sprzęgła (dłużej niż 4 sekundy) lub pedału hamulca.</li>
<li>Rozszerzeniem funkcji tempomatu jest ogranicznik prędkości SPEEDTRONIC, który uruchamia się poprzez naciśnięcie dźwigni obsługowej (zapala się żółta dioda świecąca na dźwigni). Możliwe jest zapamiętanie każdej prędkości jazdy powyżej 30 km/h. Ustawiona prędkość jest widoczna na zintegrowanej tablicy wskaźników i nie można jej niezauważenie przekroczyć (bez użycia funkcji kickdown pedału gazu). Jeżeli ustawiona prędkość zostanie przekroczona (np. na pochyłości), system wysyła ostrzeżenie wizualne, a w niektórych przypadkach również dźwiękowe. Ponadto w pojazdach z automatyczną skrzynią biegów zostaje zredukowany bieg, aby zwiększyć opór własny silnika.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo22" name="Opony_całoroczne">
            <label for="squaredTwo22"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse22"
                 aria-expanded="false" aria-controls="collapse22" style="border: 0px solid red !important;">
                Opony całoroczne
            </div>
            <div class="collapse" id="collapse22">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Skład materiałowy opon całorocznych gwarantuje, że w przeciwieństwie do opon letnich nie twardnieją one tak bardzo w niskich temperaturach, a w temperaturach letnich nie tracą swojej sztywności.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo24" name="Lampy_przeciwmgielne_z_funk_doświetlania_zakrętów">
            <label for="squaredTwo24"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse24"
                 aria-expanded="false" aria-controls="collapse24" style="border: 0px solid red !important;">
                Lampy przeciwmgielne z funk doświetlania zakrętów
            </div>
            <div class="collapse" id="collapse24">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li><img class="grafika" src="/media/products/sw.jpg" alt=""></li>
                        <li>Halogenowe reflektory przeciwmgielne to wbudowane w zderzak reflektory szerokostrumieniowe. Zapewniają szerokie doświetlenie bliskiego pola. Aktywacja odbywa się pokrętłem oświetlenia. Reflektory przeciwmgielne służą dodatkowo jako w funkcji doświetlania skrętu wzgl. statycznego doświetlania zakrętów. Zależnie od stanu kierunkowskazów, kąta skrętu kierownicy oraz prędkości jazdy, włącza się dodatkowo prawy lub lewy reflektor przeciwmgielny. Funkcja doświetlania skrętu włącza się do prędkości maks. 40 km/h, a funkcja statycznego doświetlania zakrętów do prędkości maks. 70 km/h.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo26" name="Siedzenie_kierowcy_komfortowe_hydrau_resorowane">
            <label for="squaredTwo26"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse26"
                 aria-expanded="false" aria-controls="collapse26" style="border: 0px solid red !important;">
                Siedzenie kierowcy komfortowe hydrau resorowane
            </div>
            <div class="collapse" id="collapse26">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/sk.jpg" alt=""></li>
                        <li>Pojazd wyposażany jest w komfortowy fotel kierowcy (por. SB1) oraz amortyzowany mechanicznie/hydraulicznie stelaż fotela. Mechanizm fotela (amortyzacja) może zostać indywidualnie dostosowany do masy ciała kierowcy za pomocą pokrętła. Obicie tkaninowe odpowiada obiciu foteli standardowych.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo28" name="Dodatkowe_ogrzewanie_wodne">
            <label for="squaredTwo28"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse28"
                 aria-expanded="false" aria-controls="collapse28" style="border: 0px solid red !important;">
                Dodatkowe ogrzewanie wodne
            </div>
            <div class="collapse" id="collapse28">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                     <li><img class="grafika" src="/media/products/do.jpg" alt=""></li>

                        <li>Pod podłogą, w obszarze lewego słupka B montuje się zasilane paliwem ogrzewanie dodatkowe (5 kW). Ogrzewanie dodatkowe ma pełne zdolności diagnostyczne. Jest zasilane paliwem doprowadzanym ze zbiornika paliwa pojazdu. Ogrzewanie dodatkowe podgrzewa ciecz chłodzącą do temperatury 85°C, następnie wyłącza się i włącza ponownie przy temperaturze 73°C. Podgrzana ciecz chłodząca, krążąc w obiegu wodnym układu ogrzewania pojazdu, ogrzewa przestrzeń kierowcy i pasażerską. Standardowy zegar sterujący (w zintegrowanej tablicy wskaźników) umożliwia trzy czasy preselekcji, przy czym aktywowany może być tylko jeden z nich. Możliwe cykle grzewcze oraz maksymalny czas ogrzewania są zależne od temperatury zewnętrznej:</li>
<li>maksymalnie 6 x 20 minut (łącznie maksymalnie 120 minut) przy temperaturze zewnętrznej wyższej niż -5°C</li>
<li>maksymalnie 3 x 40 minut (łącznie maksymalnie 120 minut) przy temperaturze zewnętrznej od -5 do -15°C</li>
<li>maksymalnie 2 x 50 minut (łącznie maksymalnie 100 minut) przy temperaturze zewnętrznej niższej niż -15°C</li>
<li>Po upływie łącznego czasu ogrzewania (100 lub 120 minut) ogrzewanie dodatkowe wyłącza się. Kontrolki włącznika/wyłącznika migają na zmianę. Do reaktywacji ogrzewania dodatkowego wymagane jest ponowne uruchomienie silnika, aby akumulator pokładowy został zasilony energią potrzebną do kolejnych cykli grzewczych. Czas pracy silnika jest również zależny od temperatury zewnętrznej i przedstawia się następująco:</li>
<li>co najmniej 10-minutowa praca silnika przy temperaturze wyższej niż 0°C</li>
<li>co najmniej 15-minutowa praca silnika przy temperaturze od 0 do -10°C</li>
<li>co najmniej 20-minutowa praca silnika przy temperaturze niższej niż -10°C</li>
<li>Nagrzewnica wyłącza się lub nie włącza się wcale, jeśli zapas paliwa jest mniejszy niż 15 l.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo30" name="Dogrzewacz">
            <label for="squaredTwo30"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse30"
                 aria-expanded="false" aria-controls="collapse30" style="border: 0px solid red !important;">
                Dogrzewacz
            </div>
            <div class="collapse" id="collapse30">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/dog.jpg" alt=""></li>
                        <li>Montaż nagrzewnicy o mocy grzewczej 5 kW. Dogrzewacz może być dołączany przy pracującym silniku. Wyłącznik/włącznik jest umieszczony po prawej stronie przy przełączniku świateł. Gdy dogrzewacz jest włączony, świeci się czerwona kontrolka w przełączniku i na zintegrowanej tablicy wskaźników. Po wyłączeniu jeszcze przez 3 minuty trwa wybieg pompy cieczy chłodzącej i dmuchawy grzewczej, po czym oba urządzenia wyłączają się automatycznie.</li>
                    </ul>
                </div>
            </div>
        </div>
 <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo32" name="Kierownica_wielofunkcyjna_z_komputerem_pokładowym">
            <label for="squaredTwo32"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse32"
                 aria-expanded="false" aria-controls="collapse32" style="border: 0px solid red !important;">
                Kierownica wielofunkcyjna z komputerem pokładowym
            </div>
            <div class="collapse" id="collapse32">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                        <li><img class="grafika" src="/media/products/kwie.jpg" alt=""></li>
                        <li>Montaż kierownicy wielofunkcyjnej z 8 przyciskami. Oprócz uruchamiania klaksonu możliwość obsługi komputera pokładowego, radia i telefonu.
Przyciski umieszczone na kierownicy po lewej stronie: wybór manu wyświetlacza komputera pokładowego, przewijanie menu komputera pokładowego w górę/ w dół. Przyciski umieszczone na kierownicy po prawej stronie: regulacja głośności +/- oraz odbieranie i kończenie połączeń telefonicznych.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo34" name="Pakiet_na_złe_drogi">
            <label for="squaredTwo34"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse34"
                 aria-expanded="false" aria-controls="collapse34" style="border: 0px solid red !important;">
                Pakiet na złe drogi
            </div>
            <div class="collapse" id="collapse34">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Pakiet na złe drogi obejmuje wzmocnienie struktury karoserii, wzmocnioną oś przednią (A50) przy nacisku na oś przednią wynoszącym 1650 kg, zmodyfikowane resory tylne w pojazdach o dopuszczalnej masie całkowitej (DMC) 3,5 t oraz wzmocnione amortyzatory (C47) na osi tylnej w pojazdach o dop. masie całkowitej 3 t i 3,5 t.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo36" name="Retarder">
            <label for="squaredTwo36"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse36"
                 aria-expanded="false" aria-controls="collapse36" style="border: 0px solid red !important;">
                Retarder
            </div>
            <div class="collapse" id="collapse36">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Zwalniacz, retarder – urządzenie służące do długotrwałego hamowania pojazdu lub elementów maszyny. Praktycznie używa się go w celu zapobieżenia nadmiernemu wzrostowi prędkości - np. podczas długotrwałych zjazdów ze wzniesienia.</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>


