<div class="panel-body">

    <div class="column col-sm-6" style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo" name="Hak">
            <label for="squaredTwo"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary collapsed" type="button" data-toggle="collapse"
                 data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"
                 style="border: 0px solid red !important;">
                Hak
            </div>

            <div class="collapse" id="collapse1" aria-expanded="false" style="height: 0px;">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                                        <!--Zdjęcie-->

                                                <li><img class="grafika" src="/media/products/hak.jpg" alt=""></li>
                        <li>Montaż haka holowniczego ze zdejmowanym zaczepem kulowym, 13-stykowego gniazda do podłączania przyczepy oraz poprzeczki o dopuszczalnym nacisku 100 kg. Maksymalna dopuszczalna masa przyczepy wynosi 2 t.
W Furgonie do wariantu masowego 3,88 t (kod XL8) oraz w pojazdach Kombi do wariantu masowego 3,5 t zaczep kulowy jest na stałe zespawany ze wspornikiem.
                            We wszystkich innych wzorach konstrukcyjnych (np. w wariancie masowym 5 t, podwoziu do zabudowy, podwoziu ze skrzynią ładunkową itd) zaczep kulowy jest przykręcany śrubami.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo3" name="Pakiet_Kierowcy">
            <label for="squaredTwo3"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3"
                 aria-expanded="false" aria-controls="collapse3" style="border: 0px solid red !important;">
                Pakiet Kierowcy
            </div>
            <div class="collapse" id="collapse3">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Siedzenie resorowane hydraulicznie</li>
                        <li>2. Podłokietnik</li>
                        <li>3. Tempomat</li>
                        <li>4. Zagłówek komfortowy</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo5" name="Zima_1_MB">
            <label for="squaredTwo5"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse5"
                 aria-expanded="false" aria-controls="collapse5" style="border: 0px solid red !important;">
                Zima 1 MB
            </div>
            <div class="collapse" id="collapse5">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Podgrzewane siedzenie kierowcy</li>
                        <li>2. Podgerzewana przednia szyba</li>
                        <li>3. Dodatkowe ogrzewanie wodne</li>
                        <li>4. Dodatkowa Bateria</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo7" name="Parkowanie">
            <label for="squaredTwo7"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary bpr" type="button" data-toggle="collapse" data-target="#collapse7"
                 aria-expanded="false" aria-controls="collapse7" style="border: 0px solid red !important;">
                Parkowanie
            </div>
            <div class="collapse" id="collapse7">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. System Parktronik ( PTS )</li>
                        <li>2. Sygnalizator cofania</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo2" name="Klima_Fabryczna_z_tyłu">
            <label for="squaredTwo2"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2"
                 aria-expanded="false" aria-controls="collapse2" style="border: 0px solid red !important;">
                Klima Fabryczna z tyłu
            </div>
            <div class="collapse" id="collapse2">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Klimatyzacja dodatkowa dla przedziału pasażerskiego</li>
                        <li>2. Podsufitówka</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo4" name="Bezpieczeństwo">
            <label for="squaredTwo4"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4"
                 aria-expanded="false" aria-controls="collapse4" style="border: 0px solid red !important;">
                Bezpieczeństwo
            </div>
            <div class="collapse" id="collapse4">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Kierwnica Multifunkcyjna</li>
                        <li>2. Asysten świateł drogowych</li>
                        <li>3. Szyba przednia z filtrem</li>
                        <li>4. Czujnik świateł i deszczu</li>
                        <li>5. Monitoring Martwego pola</li>
                        <li>6. Podgrzewane lusterka zewnętrzne</li>
                        <li>7. Asystent antykolizyjny</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo6" name="Boczne_Drzwi">
            <label for="squaredTwo6"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse6"
                 aria-expanded="false" aria-controls="collapse6" style="border: 0px solid red !important;">
                Boczne Drzwi
            </div>
            <div class="collapse" id="collapse6">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Drzwi boczne rawe</li>
                        <li>2. Elektryczne domykanie</li>
                        <li>3. Elektryczne sterowanie</li>
                        <li>2. Elektryczny stopień wysuwany</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo8" name="Góral">
            <label for="squaredTwo8"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse8"
                 aria-expanded="false" aria-controls="collapse8" style="border: 0px solid red !important;">
                Góral
            </div>
            <div class="collapse" id="collapse8">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Retarder</li>
                        <li>2. Dzwignia manualna obsługi retardera</li>
                        <li>3. Automatyczna skrzynia biegów</li>
                        <li>4. Dodatkowy akumulator</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>


