<div class="panel-body">

    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo11" name="Pakiet_Zima_2_BP">
            <label for="squaredTwo11"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary collapsed" type="button" data-toggle="collapse"
                 data-target="#collapse11" aria-expanded="false" aria-controls="collapse11"
                 style="border: 0px solid red !important;">
                Pakiet Zima 2 BP
            </div>
            <div class="collapse" id="collapse11">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Suche webasto</li>
                        <li>2. Izolacja przewodów cieplnych</li>
                        <li>3. Ogrzewanie konwektorowe</li>
                        <li>4. Dodatkowy konwektor w bagażniku</li>
                        <li>5. Dodatkowa izolacja terminczna pojazdu</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo13" name="Pakiet_Optyczny">
            <label for="squaredTwo13"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse13"
                 aria-expanded="false" aria-controls="collapse13" style="border: 0px solid red !important;">
                Pakiet Optyczny
            </div>
            <div class="collapse" id="collapse13">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Przedni zderzak</li>
                        <li>2. Spoilery boczne</li>
                        <li>3. Spiler tylni</li>
                        <li>4. Indywidualna Grafika - Malowanie</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo15" name="Pakiet_BP_Panorama_PRO">
            <label for="squaredTwo15"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse15"
                 aria-expanded="false" aria-controls="collapse15" style="border: 0px solid red !important;">
                Pakiet BP Panorama PRO
            </div>
            <div class="collapse" id="collapse15">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Panorama przednia oraz dachowa</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo17" name="Pakiet_Drzwi_Elektryczne">
            <label for="squaredTwo17"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse17"
                 aria-expanded="false" aria-controls="collapse17" style="border: 0px solid red !important;">
                Pakiet Drzwi Elektryczne
            </div>
            <div class="collapse" id="collapse17">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Drzwi elektryczne BCE</li>
                        <li>2. Podsufitówka specjalna</li>
                        <li>3. Dotatkowe oświetlenie</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo19" name="Pakiet_BP_Full_Leather">
            <label for="squaredTwo19"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse19"
                 aria-expanded="false" aria-controls="collapse19" style="border: 0px solid red !important;">
                Pakiet BP Full Leather
            </div>
            <div class="collapse" id="collapse19">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Pakiet deski rozdzielczej</li>
                        <li>2. Wszystkie siedzenia w skórze</li>
                        <li>3. skórzane oklejenie rączek / pochwytów</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="column col-sm-6"  style="padding-left:10px !important; padding-right:10px !important;">

        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo12" name="Pakiet_Chrom">
            <label for="squaredTwo12"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse12"
                 aria-expanded="false" aria-controls="collapse12" style="border: 0px solid red !important;">
                Pakiet Chrom
            </div>
            <div class="collapse" id="collapse12">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Kołpaki</li>
                        <li>2. Grill</li>
                        <li>3. Lusterka</li>
                        <li>4. Klamki</li>
                        <li>5. Listwy ozdobne</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo14" name="Pakiet_Przednia_Panorama">
            <label for="squaredTwo14"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse14"
                 aria-expanded="false" aria-controls="collapse14" style="border: 0px solid red !important;">
                Pakiet Przednia Panorama
            </div>
            <div class="collapse" id="collapse14">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Przednia szyba panoramiczna - Solar</li>
                        <li>2. Tapicerka wnetrza - podsufitówka specjalna dopasowana do Szyby typu Solar</li>
                        <li>3. Elektrycznie przyciemn ianie</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo16" name="Pakiet_BP_Premium_Sound">
            <label for="squaredTwo16"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse16"
                 aria-expanded="false" aria-controls="collapse16" style="border: 0px solid red !important;">
                Pakiet BP Premium Sound
            </div>
            <div class="collapse" id="collapse16">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>Dodatkowe nagłośnienie (wysokiej klasy ) wnętrza pojazdu</li>
                        <li>4-6 głośników</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo18" name="Pakiet_BP_Deska_rozdzielcza">
            <label for="squaredTwo18"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse18"
                 aria-expanded="false" aria-controls="collapse18" style="border: 0px solid red !important;">
                Pakiet BP Deska rozdzielcza
            </div>
            <div class="collapse" id="collapse18">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. Obszycie 9 elementów deski rozdzielczej</li>
                        <li>2. 2 kolorowe obszycie Kierownicy</li>
                        <li>3. Pokrycie hydrografiką 9 elementów w Aucie</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="checkbox_wrapper squaredTwo">
            <input type="checkbox" value="None" id="squaredTwo20" name="Pakiet_Przedłużona_Gwarancja">
            <label for="squaredTwo20"></label>
        </div>
        <div class="panel panel-default panel-heading">
            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse20"
                 aria-expanded="false" aria-controls="collapse20" style="border: 0px solid red !important;">
                Pakiet Przedłużona Gwarancja
            </div>
            <div class="collapse" id="collapse20">
                <div class="well" style="border: 0px solid red;">
                    <ul>
                        <li>1. 2 lata</li>
                        <li>2. 3 lata</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

</div>


