<div class="panel-body">

                        <div class="container">
                            <div class="column pierwszakol border-right col-sm-4 zaznacz">
                                <div class="wheelbase-wrapper liczba drugidotrzeciego podswietlenie" data-wheelbase="144" id="b4">
                                    <h3>Standard</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                            <!--Zdjęcie-->

                                            <img src="http://res.cloudinary.com/mbusa/image/upload/c_scale,w_175/Mercedes-Benz-Vans/Sprinter/Cargo-Van/BYV/WB-CA-144.png">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Liczba siedzeń: <span>16 + 1</span>
                                        </li>
                                        <li>Bagażnik</li>

                                    </ul>

                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn drugidotrzeciego" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Standard</button>



                                </div>
                            </div>

                            <div class="column border-right col-sm-4 zaznacz">
                                <div class="wheelbase-wrapper liczba drugidotrzeciego" data-wheelbase="170" id="b5">
                                    <h3>Przedłużka</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                            <!--Zdjęcie-->

                                            <img src="http://res.cloudinary.com/mbusa/image/upload/c_scale,w_175/Mercedes-Benz-Vans/Sprinter/Cargo-Van/BYV/WB-CA-170.png">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Liczba siedzeń: <span>16 + 1</span>
                                        </li>
                                        <li>Bagażnik</li>

                                    </ul>

                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn drugidotrzeciego" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Przedłużka</button>



                                </div>
                            </div>

                            <div class="column col-sm-4" id="niema">
                                <div class="wheelbase-wrapper liczba drugidotrzeciego" data-wheelbase="170E" id="b6" >
                                    <h3>Przedłużka</h3>
                                    <div class="vehicle_and_price">
                                        <div class="vehicle">
                                                            <!--Zdjęcie-->

                                            <img src="http://res.cloudinary.com/mbusa/image/upload/c_scale,w_175/Mercedes-Benz-Vans/Sprinter/Cargo-Van/BYV/WB-CA-170E.png">
                                        </div>
                                        <div class="price">

                                        </div>
                                    </div>
                                    <ul>
                                        <li>Liczba siedzeń: <span>19 + 1</span>
                                        </li>
                                        <li>Bagażnik</li>
                                    </ul>
                                    <button class="btn btn-primary hidden-xs btn blueButton center padding wheel-base-btn drugidotrzeciego" data-toggle="collapse" data-target="#myCollapsible5" data-vivaldi-spatnav-clickable="1">Przedłużka</button>


                                </div>
                            </div>
                        </div>


 <div id="id_liczba_siedzien0">
     <input type="radio" name="liczba_siedzień" id="id_liczba_siedzień_1" value="Standard 16+1" class="form-horizontal" checked="checked">
     <input type="radio" name="liczba_siedzień" id="id_liczba_siedzień_2" value="Przedłużka 16+1" class="form-horizontal">
     <input type="radio" name="liczba_siedzień" id="id_liczba_siedzień_3" value="Przedłużka 19+1" class="form-horizontal">
</div>


                    </div>
