                    <div class="panel-body">
                        <div class="column col-sm-6">
                            <div class="vehicle_and_price">
                                <div class="vehicle">
                                                    <!--Zdjęcie-->

                                    <img src="/media/products/PT-CA.png">
                                </div>
                            </div>
                            <div class="slider-group">
                                <h5>Wybierz pojemność</h5>
                                <div class="col-xs-12 no-padding">
                                    <div class="powerTrain-container">
                                        <label class=""><input type="radio" name="pojemność_silnika" id="id_pojemność_silnika_1" value="4 Cylindrów" class="form-inline">4 Cylindrów</label>
                                        <label class=""><input type="radio" name="pojemność_silnika" id="id_pojemność_silnika_2" value="6 Cylindrów" class="form-inline">6 Cylindrów</label>

                                    </div>
                                </div>
                                <div class="slider-options"></div>
                            </div>
                        </div>
                        <!-- column -->
                        <div class="column col-sm-6">

                        </div>
                        <!-- column -->

                    </div>

