                    <div class="panel-body">
                        <div class="column col-sm-6">
                            <div class="vehicle_and_price">
                                <div class="vehicle">
                                                    <!--Zdjęcie-->

                                    <img src="/media/products/PT-CA.png">
                                </div>
                            </div>
                            <div class="slider-group">
                                <h5>Skrzynia biegów</h5>
                                <div class="col-xs-12 no-padding">
                                    <div class="powerTrain-container">
                                        <label class=""><input type="radio" name="skrzynia_biegów" id="id_skrzynia_biegów_1" value="Manulana" class="extra">Manulana</label>
                                        <label class=""><input type="radio" name="skrzynia_biegów" id="id_skrzynia_biegów_2" value="Automatyczna" class="extra">Automatyczna</label>

                                    </div>
                                </div>
                                <div class="slider-options"></div>
                            </div>
                        </div>
                        <!-- column -->
                        <div class="column col-sm-6">

                        </div>
                        <!-- column -->

                    </div>

