

            <div class="column col-sm-6">
                <div id="main_view">
                <img src="/media/products/f1.png" alt=""><br>
                <small style="float: right; color: #999;">BP SPRINTER <a style="color: rgb(119, 119, 119);" href="#"></a></small>
            </div>



        <div id="div_id_kolor" class="form-group niewidzialny">

            <h5>Standard Non-Metallic Color</h5>
            <input type="radio" name="kolor" id="id_kolor_1" value="E1E3E4" checked ><label class="">E1E3E4</label>
            <input type="radio" name="kolor" id="id_kolor_2" value="354B6C"><label class="">354B6C</label>
            <input type="radio" name="kolor" id="id_kolor_3" value="6C4444"><label class="">6C4444</label>
            <input type="radio" name="kolor" id="id_kolor_4" value="0090FF"><label class="">0090FF</label>
            <input type="radio" name="kolor" id="id_kolor_5" value="ACA79C"><label class="">ACA79C</label>
            <input type="radio" name="kolor" id="id_kolor_6" value="798790"><label class="">798790</label>
            <input type="radio" name="kolor" id="id_kolor_7" value="2E6668"><label class="">2E6668</label>

            <h5>Premium Non-Metallic Color</h5>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_8" value="2F2F2F">2F2F2F</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_9" value="D4D0C6">D4D0C6</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_10" value="9C9B93">9C9B93</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_11" value="595B57">595B57</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_12" value="EAC455">EAC455</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_13" value="307098">307098</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_14" value="D32130">D32130</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_15" value="D12235">D12235</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_16" value="868D8F">868D8F</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_17" value="2A436C">2A436C</label></div>

            <h5>Premium Metallic Color</h5>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_18" value="323437">323437</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_19" value="534642">534642</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_20" value="B7BCBF">B7BCBF</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_21" value="464F55">464F55</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_22" value="525350">525350</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_23" value="999791">999791</label></div>
            <div class="radio"><label class=""><input type="radio" name="kolor" id="id_kolor_24" value="4A4F68">4A4F68</label></div>
        </div>
</div>
<div class="column col-sm-6">
    <div class="container">

            <ul class="thumb">
                <li id="tekcol1" style="z-index: 0;">Standard Non-Metallic Color</li>
                <br>
                <li style="z-index: 0;"><a href="/media/products/f1.png" id="a1"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block !important;
margin-right: 5px;
 padding: 5px; overflow: hidden; background-color: #e1e3e4" ></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f2.png" id="a2"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block !important;
margin-right: 5px;

 padding: 5px; overflow: hidden; background-color: #354b6c;"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f3.png" id="a3"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
 padding: 5px; overflow: hidden; background-color: #6c4444;"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f4.png" id="a4"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px; padding: 5px; overflow: hidden; background-color: #cd4043;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f5.png" id="a5"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px; padding: 5px; overflow: hidden; background-color: #aca79c;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f6.png" id="a6"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #798790;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f7.png" id="a7"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #2e6668;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <br>
                <li id="tekcol2" style="z-index: 0;">Premium Non-Metallic Color</li>
                <br>
                <li style="z-index: 0;"><a href="/media/products/f8.png" id="a8"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #2f2f2f" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f9.png" id="a9"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #d4d0c6;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f10.png"id="a10"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #9c9b93;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f11.png" id="a11"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #595b57;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f12.png" id="a12"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #eac455;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f13.png" id="a13"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #307098;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f14.png" id="a14"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #d32130;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f15.png" id="a15"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #1d2235;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f16.png" id="a16"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #868d8f;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f17.png" id="a17"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #2a436c;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <br>
                <li id="tekcol3">Premium Metallic Color</li>
                <br>
                <li style="z-index: 0;"><a href="/media/products/f18.png" id="a18"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #323437" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f19.png" id="a19"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #534642;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f20.png" id="a20"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #b7bcbf;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f21.png" id="a21"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #464f55;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f22.png" id="a22"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #525350;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f23.png" id="a23"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #999791;" data-vivaldi-spatnav-clickable="1"></span></a></li>
                <li style="z-index: 0;"><a href="/media/products/f24.png" id="a24"><span class="act" style="margin-top: 0px; margin-left: 0px; top: 0px; left: 0px; width: 33px;
height: 33px;
display: inline-block;
margin-right: 5px;
padding: 5px; overflow: hidden; background-color: #4a4f68;" data-vivaldi-spatnav-clickable="1"></span></a></li>
            </ul>
        </div>
</div>
