<div id="collapseOne66" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne66">
                    <div class="panel-body">


                    <div class="column col-sm-6">


                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo" name="check">
                            <label for="squaredTwo"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" style="border: 0px solid red !important;">
                            Pakiet zimowy</div>

                            <div class="collapse" id="collapse1" aria-expanded="false" style="height: 0px;">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo2" name="check">
                            <label for="squaredTwo2"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" style="border: 0px solid red !important;">
                            Pakiet komfort kierowcy</div>
                            <div class="collapse" id="collapse2">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo3" name="check">
                            <label for="squaredTwo3"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" style="border: 0px solid red !important;">
                            Pakiet aktywne bezpieczeństwo</div>
                            <div class="collapse" id="collapse3">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>

                    <!-- column -->
                    <div class="column col-sm-6">
                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo4" name="check">
                            <label for="squaredTwo4"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" style="border: 0px solid red !important;">
                                Aktywne bezpieczeństwo plus / Asysta parkowania</div>
                            <div class="collapse" id="collapse4">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo5" name="check">
                            <label for="squaredTwo5"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" style="border: 0px solid red !important;">
                                Pakiet optyczny</div>
                            <div class="collapse" id="collapse5">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox_wrapper squaredTwo">
                            <input type="checkbox" value="None" id="squaredTwo6" name="check">
                            <label for="squaredTwo6"></label>
                        </div>
                        <div class="panel panel-default panel-heading">
                            <span class="cena">+ 600 zł</span>
                            <div class="panel-heading btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" style="border: 0px solid red !important;">
                                Pakiet komfort dla pasażerów</div>
                            <div class="collapse" id="collapse6">
                                <div class="well" style="border: 0px solid red;">
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                        <li>Lorem ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


